@font-face {
  font-display: swap;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
}

body {
  color: #333;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
}

img {
  max-width: 100%;
  object-fit: contain;
}

button,
input,
select {
  font-family: inherit;
  font-size: 100%;
}

/* * Navigation */

.navigation-list-link {
  color: #000;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  text-decoration: none;
}

/* * Buttons */

.btn {
  background-color: #756157;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;
}

.btn-large {
  font-size: 20px;
  line-height: 36px;
}

.btn-second {
  background-color: #82B3D3;
}

.btn-selected {
  background-color: #7DB54F;
}

/* * Welcome */

.welcome {
  background: #82B3D3 url("../images/background/welcome-background.jpg") 0 0/cover no-repeat;
  text-align: center;
}

/* * Section */

.section {
  text-align: center;
}

.section-title {
  color: #000;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.section-description {
  font-size: 22px;
  line-height: 26px;
}

.section-decoration {
  background: #82B3D3 url("../images/background/mailing-background.jpg") 0 0/cover no-repeat;
  color: #fff;
}

.section-decoration .section-title {
  color: #fff;
}

/* * Advantages */

.advantages-content {
  text-align: center;
}

.advantages-content-title {
  color: #000;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-content-number {
  color: #000;
}

.advantages-background-blue {
  background-color: #82B3D3;
}

.advantages-background-blue-012 {
  background: rgba(131, 179, 211, 0.12);
}

.advantages-background-blue-02 {
  background: rgba(131, 179, 211, 0.2);
}

.advantages-white-text {
  color: #fff;
}

/* * Mailing */

.mailing-field {
  background-color: #F2F2F2;
}

.mailing-field::placeholder {
  color: #000;
  opacity: 0.6;
}

/* * Contacts */

.phone-number {
  color: #000;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
}

/* * Page intro (filter) */

.page-intro {
  background: #82B3D3 url("../images/background/page-intro-background.jpg") 0 0/cover no-repeat;
  color: #fff;
}

.page-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
}

.breadcrumbs-link {
  color: #fff;
  font-size: 16px;
}

.catalog-filter-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
}

.reset-btn {
  background-color: transparent;
  border: none;
  font-weight: 400;
  text-transform: capitalize;
}

.catalog-filter-from,
.catalog-filter-to {
  background-color: transparent;
  color: inherit;
}

.catalog-filter-from::placeholder,
.catalog-filter-to::placeholder {
  color: #fff;
  opacity: 0.3;
  text-align: right;
}

/* * Filter result */

.catalog-sorting-text {
  color: #000;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.catalog-card-title {
  color: #000;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

.catalog-card-rating {
  background-color: #F2F2F2;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

/* * Pagination */

.pagination-current {
  background-color: #F2F2F2;
  color: #000;
}

/* * Select control */

.select-control {
  color: inherit;
}
