@font-face {
  font-display: swap;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  color: #333;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #F2F2F2;
}

img {
  max-width: 100%;
  object-fit: contain;
}

button,
input,
select {
  font-family: inherit;
  font-size: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* * Buttons */

.btn {
  display: block;
  text-align: center;
  background-color: #756157;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 9px 15px 8px;
  border: none;
  border-radius: 4px;
}

.btn-large {
  font-size: 20px;
  line-height: 36px;
  padding: 12px 15px;
}

.btn-second {
  background-color: #82B3D3;
}

.btn-selected {
  background-color: #7DB54F;
}

.btn-disabled {
  background-color: #F2F2F2;
  color: #000;
}

/* * */

.page-wrapper {
  min-height: 100%;
  max-width: 1200px;
  background: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.inner-container {
  max-width: 1060px;
  margin: 0 auto;
}

/* * Navigation (Header) */

.page-header {
  z-index: 1;
}

.navigation {
  display: flex;
}

.logo {
  margin-right: 30px;
  height: 65px;
}

.navigation-list,
.navigation-user {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.navigation-list {
  flex: 1 1 400px;
}

.navigation-user {
  width: 400px;
  margin-left: auto;
  justify-content: flex-end;
}

.navigation-list-link {
  display: block;
  color: #000;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  text-decoration: none;
  height: 100%;
  padding: 20px 10px 19px;
  margin: 0 7px;
  min-width: 42px;
  text-align: center;
}

.navigation-list-link-current .navigation-list-link-inner {
  padding-bottom: 18px;
  border-bottom: 2px solid #756257;
}

.navigation-user-link {
  box-sizing: border-box;
  display: block;
  text-align: center;
  padding: 20px 10px 19px;
  min-width: 42px;
  min-height: 65px;
}

.navigation-user-item-btn {
  display: flex;
  align-items: center;
  min-height: 65px;
}

.btn-user {
  min-width: 130px;
  margin-left: 20px;
}

/* * Main */

.main-container {
  flex-grow: 1;
}

/* * Welcome */

.welcome {
  background: url("../images/welcome/welcome-devider.svg") 0 100%/100% auto no-repeat,
    url("../images/background/welcome-background.jpg") 0 0/cover no-repeat, #82B3D3;
  padding: 51px 0 82px;
}

.welcome-image {
  display: block;
  margin: 0 auto;
}

/* * Section */

.section {
  padding: 63px 0 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-move {
  position: relative;
  right: 7px;
}

.section-interest {
  padding: 91px 0 92px;
}

.section-mailing {
  padding: 94px 0;
}

.section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 658px;
  text-align: center;
}

.section-title {
  color: #000;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0 0 30px
}

.section-description {
  font-size: 22px;
  line-height: 26px;
  margin: 0;
}

.section-btn {
  width: 544px;
  margin-top: 56px;
}

.section-decoration {
  background: #82B3D3 url("../images/background/mailing-background.jpg") 0 0/cover no-repeat;
  color: #fff;
}

.section-decoration .section-title {
  color: #fff;
}

/* * Mailing */

.mailing {
  display: flex;
  justify-content: center;
  margin-top: 46px;
  width: 100%;
}

.mailing-field {
  background-color: #F2F2F2;
  border: none;
  border-radius: 10px 0 0 10px;
  width: 50%;
}

.mailing-field::placeholder {
  color: #000;
  opacity: 0.6;
  text-indent: 22px;
}

.mailing-field:placeholder-shown {
  text-indent: 22px;
}

.mailing-btn {
  min-width: 200px;
  border-radius: 0 10px 10px 0;
}

/* * Advantages */

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
}

.advantages-inner {
  display: flex;
  width: 100%;
  min-height: 384px;
}

.advantages-item {
  min-height: 384px;
  display: flex;
  flex-wrap: wrap;
}

.advantages-item:not(.advantages-item-wide) {
  width: calc(100% / 3);
}

.advantages-item-wide {
  width: 100%;
}

.advantages-inner .advantages-content {
  width: calc(100% / 3);
}

.advantages-image {
  width: calc(100% / 3 * 2);
  overflow: hidden;
  object-fit: contain;
}

.advantages-content {
  display: flex;
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
}

.advantages-content-container {
  max-width: 230px;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.advantages-content-title {
  color: #000;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0 0 30px;
}

.advantages-list-inner .advantages-content-container {
  margin: 0 auto auto;
}

.advantages-list-inner .advantages-content-title {
  padding-top: 167px;
}

.advantages-content-number {
  color: #000;
  margin: 0 0 30px;
}

.advantages-content-description {
  margin: 0;
}

/* * Contacts */

.contacts {
  padding: 40px 0 30px;
}

.contacts-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.socials {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  width: 142px;
  flex-wrap: wrap;
}

.socials-link {
  display: block;
  box-sizing: border-box;
  padding: 13px 11px;
  min-width: 47px;
  min-height: 40px;
  text-align: center;
}

.phone-number {
  color: #000;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
}

.htmlacademy-logo {
  display: block;
}

/* * Page intro (filter) */

.page-intro {
  background: #82B3D3 url("../images/background/page-intro-background.jpg") 0 0/cover no-repeat;
  color: #fff;
  padding: 35px 0 70px;
}

.page-title {
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  margin: 0 0 10px;
  padding: 0;
}

.breadcrumbs {
  list-style: none;
  margin: 0 0 40px 0;
  padding: 0;
  display: flex;
}

.breadcrumbs-link {
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  margin-right: 10px;
  padding-left: 15px;
}

.breadcrumbs-link-first {
  padding-left: 0;
}

.catalog-filter {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 50px;
}

.catalog-filter-set {
  display: flex;
}

.catalog-filter-group {
  border: none;
  margin: 0;
  padding: 0;
}

.catalog-filter-group-first {
  margin-right: 70px;
}

.catalog-filter-range {
  width: 288px;
}

.catalog-filter-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  margin-bottom: 30px;
  padding: 0;
}

.catalog-filter-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 15px;
}

.catalog-filter-price-number {
  background-color: transparent;
  color: inherit;
  width: 130px;
  margin: 0;
  padding: 0;
}

.catalog-filter-price-number::placeholder {
  color: #fff;
  opacity: 0.3;
  text-align: right;
}

.catalog-filter-buttons {
  width: 160px;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
}

.submit-btn {
  padding: 14px 15px;
  margin-bottom: 11px;
}

.reset-btn {
  background-color: transparent;
  font-weight: 400;
  text-transform: capitalize;
  padding-bottom: 0;
}

/* * Filter result */

.catalog-container {
  padding: 55px 1px 25px 4px;
}

.catalog-sorting {
  display: flex;
  align-items: center;
  margin: 0 0 55px;
}

.catalog-sorting-text {
  color: #000;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0 30px 0 0;
}

.catalog-sorting .select-control {
  width: 290px;
  margin: 0 78px 0 auto
}


.sorting-display {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.sorting-display-item:not(:last-child) {
  margin-right: 8px;
}

.sorting-display-link {
  display: block;
  width: 48px;
  height: 48px;
  outline: 1px solid black;
}

/* * Cards */

.catalog-card-list {
  list-style: none;
  margin: 0 0 30px 0;
  padding: 0 0 66px 0;
  border-bottom: 1px solid #E6E6E6;
  display: grid;
  grid-template-columns: repeat(auto-fit, 340px);
  grid-auto-rows: 1fr;
  column-gap: 18px;
}

.catalog-card-item {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 211px auto repeat(3, min-content);
  gap: 16px 20px;
  align-items: center;
}

.catalog-card-image-link {
  grid-column: span 2;
}

.catalog-card-image {
  display: block;
}

.catalog-card-title {
  color: #000;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  margin: 0;
  grid-column: span 2;
  align-self: start;
}

.catalog-card-link {
  text-decoration: none;
  color: inherit;
}

.catalog-card-type,
.catalog-card-price {
  margin: 0;
}

.catalog-card-stars {
  display: flex;
}

.catalog-card-star {
  width: 18px;
  height: 17px;
  background: url("../images/icons/star.svg");
  margin-right: 6px;
}

.catalog-card-rating {
  background-color: #F2F2F2;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
  padding: 9px 22px 8px 23px;
  border-radius: 4px;
}

/* * Pagination */

.catalog-pages {
  display: flex;
  align-items: center;
}

.pagination {
  list-style: none;
  margin: 0 30px 0 0;
  padding: 0;
  display: flex;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-item .btn {
  box-sizing: border-box;
  width: 60px;
  height: 60px;
}

.catalog-pages-group {
  width: 386px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
}

/* * Select control */

.select-control {
  color: inherit;
  height: 48px;
}

.select-control {
  padding-left: 16px;
}

.catalog-pages .select-control {
  width: 160px;
}

/* * Utility colors */

.background-blue {
  background-color: #82B3D3;
}

.background-blue-012 {
  background: rgba(131, 179, 211, 0.12);
}

.background-blue-02 {
  background: rgba(131, 179, 211, 0.2);
}

.text-white {
  color: #fff;
}
